<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linear Regression</title>
</head>
<body>
    <h3> Evaluate your Comment </h3>
    <form action="submit" method="get">
        <input type="text" name="info"><br>
        <input type="submit" value="Submit">
    </form>
    {% if result_number >= 0 or result_number < 0 %}
        Your Comment:<br>
        <!--{#  #}{ info }}<br><br>-->
        comment rating = {{ result_number }}    comment evaluation = {{ result }}<br>
        {% load static %}
        <img src="{% static "LinearRegression/foo.png" %}" alt="Bar Graph">
        <img src="{% static "LinearRegression/fooperc.png" %}" alt="Bar Graph">
    {% endif %}
</body>
</html>