<html>
   <body>

      <form name = "form" enctype = "multipart/form-data"
         action = "/upload/saved/" method = "POST" >{% csrf_token %}

         <div style = "max-width:470px;display: none;">

               <input type = "text" style = "margin-left:20%;"
               placeholder = "Name" name = "name" value="abc"/>

         </div>

         <br>

         <div style = "max-width:470px;">

               <input type = "file" style = "margin-left:20%;"
                  placeholder = "File" name = "file" />

         </div>

         <br>

         <div style = "max-width:470px;">


               <button style = "border:0px;background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "Login" >
                  <strong>Upload</strong>
               </button>
         </div>

      </form>

   </body>
</html>
