<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <h2>DataSet</h2>
    <table style="border: 1px solid #000300;">

        <tr>
            {% for x in details.columnName %}
                {% if x in details.null_col %}
                    <td style="border: 3px solid #ff220f;"><strong>{{ x }}</strong></td>

                {% else %}
                <td style="border: 1px solid #000000;"><strong>{{ x }}</strong></td>
                {% endif %}
            {% endfor %}
        </tr>

                {% for rec in details.data %}
                    <tr style="border: 1px solid #000300;">
                    {% for d in rec %}

                            <td style="border: 1px solid #000300;">{{ d }}</td>


                    {% endfor %}
                        </tr>
                {% endfor %}


    </table><br/><br/><br/>
    <h2>Data Information</h2>
<table style="border: 1px solid black;">
    <tr>
        <td style="border: 1px solid black;"><strong>Features</strong></td>
        {% for x in details.columnName %}
            <td style="border: 1px solid black;">{{ x }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td style="border: 1px solid black;"><strong>Data Types</strong></td>
        {% for x in details.dtypes %}
            <td style="border: 1px solid black;">{{ x }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td style="border: 1px solid black;"><strong>No. of Null Values</strong></td>
        {% for x in details.NofNaN %}
            <td style="border: 1px solid black;">{{ x }}</td>
        {% endfor %}
    </tr>
</table><br/>
    {{ details.describe|safe }}

</body>
</html>