<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body onload="set_Cookies()">
    <div>
        <form method="post" enctype="multipart/form-data" id="fileform">
            {% csrf_token %}
            <input type="file" name="filename" />
            <input type="submit" value="Upload" />
        </form>
        <div id="progress" style="display: none;">
            <h3>Uploading...</h3>
        </div>
    </div>
    <script>
        {% block jquery %}
            function set_Cookies() {
                var d = new Date();
                d.setTime(d.getTime() + (24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = "username={{ user }};expires=" + expires + "; path=/";
            }
            $("form#fileform").submit(function(e) {
                document.getElementById("progress").style.display="block";
                e.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    url: '/FileUpload/uploadFunction/',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        document.getElementById("progress").innerHTML="<h3>File Uploaded!!!</h3>";
                        window.location.assign("/Mapping/");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        {% endblock %}
    </script>
</body>
</html>