<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Mapping of Columns</title>
</head>
<body id="pagebody">
    <form id="mappingForm" method="post">
    {% csrf_token %}
    <table>
        {% for x in columnName %}
            <tr>
                <td>{{ x }}</td>
                <td>
                    <select name="{{ x }}">
                        <option>email</option>
                        <option>currency</option>
                        <option>age</option>
                        <option>gender</option>
                        <option>phone_number</option>
                        <option>country_name</option>
                        <option>date</option>
                        <option>time</option>
                        <option>datetime</option>
                        <option>id</option>
                        <option>first_name</option>
                        <option>number</option>
                        <option>other</option>
                    </select>
                </td>
                <td>
                    <select name="RNR{{ x }}">
                        <option value="r">Required</option>
                        <option value="nr" selected>Not Required</option>
                    </select>
                </td>
                <td>
                    <select name="U{{ x }}">
                        <option value="u">Unique</option>
                        <option value="nu" selected>Not Unique</option>
                    </select>
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Submit" />
    </form>
    <div id="mappingProgress" style="display: none;">
        <h3>Mapping in Progress</h3>
    </div>
<script>
        {% block jquery %}
            $("form#mappingForm").submit(function(e) {
                document.getElementById("mappingProgress").style.display="block";
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: '/Mapping/DataEntry/',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        document.getElementById("pagebody").innerHTML="<h3>Cleaning in Progress</h3>";
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        {% endblock %}
    </script>
</body>
</html>